header {
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  font-weight: normal;
}

.header__links-list {
  display: flex;
  gap: 28px;
  list-style: circle;
}

.header__links-list-item {
  padding: 0 0 0 5px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  padding: 0;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__link_active {
  text-decoration: none;
  border: 0;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  font-style: inherit;
  max-width: 240px;
}

.header__address {
  justify-self: end;
}

.address-line {
  line-height: 24px;
}

main {
  margin-bottom: 180px;
}

.cover {
  padding: 165px 50px 50px;
  background: url(../images/cover.jpg);
  background-position: center;
  background-size: 125% 100%;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  font-size: 100px;
  font-weight: bold;
  line-height: 115%;
  margin-bottom: 106px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.no-letter-spacing {
  margin-right: -30px;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.cover__description-text {
  line-height: 127.27%;
  word-spacing: 20px;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  color: inherit;
  text-transform: inherit;
  padding: 12px 32px 11px 31px;
}

.lots {
  padding: 0 24px;
  margin-bottom: 120px;
}

.about {
  padding: 0 24px;
  margin-bottom: 180px;
}

footer {
  padding: 0 50px;
}