header {
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  font-weight: normal;
}

.header__links-list {
  display: flex;
  gap: 28px;
  list-style: circle;
}

.header__links-list-item {
  padding: 0 0 0 5px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  padding: 0;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__link_active {
  text-decoration: none;
  border: 0;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  font-style: inherit;
  max-width: 240px;
}

.header__address {
  justify-self: end;
}

.address-line {
  line-height: 24px;
}

main {
  margin-bottom: 180px;
}

.cover {
  padding: 165px 50px 50px;
  background: url(../images/cover.jpg);
  background-position: center;
  background-size: 125% 100%;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 180px;
}

.white-text {
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  font-size: 100px;
  font-weight: bold;
  line-height: 115%;
  margin-bottom: 106px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text:not(:last-child) {
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.no-letter-spacing {
  margin-right: -30px;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.cover__description-text {
  line-height: 127.27%;
  word-spacing: 18.5px;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  color: inherit;
  text-transform: inherit;
  padding: 12px 32px 11px 31px;
}

.lots {
  padding: 0 24px;
  margin-bottom: 120px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
}

.card-link {
  height: 100%;
  position: relative;
  text-decoration: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: 170% 100%;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: 170% 100%;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: 170% 100%;
}

.card__title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  z-index: 1;
}

.lots__look-more-link {
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding: 0 24px;
  margin-bottom: 180px;
}

.about__column {
  justify-self: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  padding: 46px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 94px 0 100px;
}

.about__text {
  font-size: 20px;
}

.about__text:not(:last-child) {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px;
}

.footer__address {
  justify-self: start;
  font-size: 18px;
}

.footer__menu {
  justify-self: center;
  font-size: 18px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
}